.credit-amount {
	max-width: 587px;
	margin: auto;
	padding: 52px 0 98px;
}
.payment-billing {
	max-width: 880px;
	padding: 52px 0 98px;
	margin: auto;
	display: none;
}
.main-title {
	text-align: center;
	font: normal normal 800 32px/40px Gilroy-ExtraBold;
	color: #023047;
	margin-bottom: 45px;
}
.smscard {
	margin-bottom: 13px;
}
.smscard-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #5baed8;
	height: 71px;
	border-radius: 5px 5px 0 0;
} 
.smscard-footer {
	position: relative;
	justify-content: space-between;
	display: flex;
	align-items: center;
	width: 100%;
	height: 71px;
	background: #5baed8;
	padding: 0 37px;
	border-radius: 0 0 5px 5px;
}
.smscard-header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 238px;
	height: 40px;
	background: white;
	border-radius: 5px;
}
.smscard-footer-main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 238px;
	height: 40px;
	margin: auto;
	background: white;
	padding: 5px 10px;
	border-radius: 5px;
}
.smscard-header input {
	width: 100%;
	padding-right: 50px;
	outline: none;
	border:  none;
}
.smscard-footer-title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #e8e8e8;
	font: normal normal 800 24px/29px Gilroy-ExtraBold;
	letter-spacing: 1.2px;
}
.smscard-header-title {
	font: normal normal 18px/21px Gilroy-Medium;
	color: #E8E8E8;
	margin-left: 16px;
}
.smscard-header input, 
.smscard-footer-value {
	text-align: center;
	font: normal normal 800 24px/29px Gilroy-ExtraBold;
	letter-spacing: 1.2px;
	color: #023047;
	margin-bottom: 0;
}
.smscard-section {
	display: flex;
	justify-content: space-between;
	padding: 0 37px;
	background: #f8f8f8;
}
.smscard-section-card {
	position: relative;
	width: 103px;
	padding: 27px 0;
	margin-right: 5px;
	text-align: center;
}
.smscard-section-card-top, .smscard-section-card-bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 20px 11.5px;
	border-color: transparent;
}
.smscard-section-card-top {
	top: 0;
}
.smscard-section-card-bottom {
	bottom: 0;
}
.smscard-section-card:nth-child(1) .smscard-section-card-main {
	background: #5baed8;
	color: white;
}
.smscard-section-card:nth-child(1) .smscard-section-card-top {
	border-color: #5baed8 transparent transparent transparent;
}
.smscard-section-card:nth-child(1) .smscard-section-card-bottom {
	border-color: transparent transparent #5baed8 transparent;
}
.smscard-section-card-main {
	cursor: pointer;
	background: white;
	max-width: 103px;
	min-height: 103px;
	height: 103px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #e8e8e8;
	color: #023047;
	padding-top: 25px;
}
.smscard-section-card-main h1 {
	font: normal normal 32px/39px Gilroy-Medium;
	letter-spacing: 1.6px;
}
.smscard-section-card-main h2 {
	font: normal normal 12px/15px Gilroy-Medium;
}
.smscard-footer h3 {
	font: normal normal 300 12px/14px Gilroy-Light;
	color: rgba(255, 255, 255, 0.32);
	margin-bottom: 0;
}
.smscard-footer h4 {
	font: normal normal 300 12px/14px Gilroy-Light;
	color: #fff;
	margin-bottom: 0;
}
.smscard-footer-right {
	text-align: right;
}
.smalltxt {
	display: flex;
	justify-content: space-between;
	color: #023047;
	font: normal normal 300 12px/14px Gilroy-Light;
	margin-bottom: 40px;
}
.smalltxt p {
	margin-bottom: 0;
}
.smalltxt p a {
	color: #D2302C;
}
.checkout {
	font: normal normal 18px/21px Gilroy-Medium;
	color: #023047;
	text-align: center;
	margin-bottom: 29px;
}
.paypalbar {
	display: flex;
	justify-content: center;
	margin-bottom: 63px;
}
.paypal, .credit-card-txt {
	cursor: pointer;
	position: relative;
	width: 200px;
	height: 59px;
	text-align: center;
	border-radius: 5px;
	background: #d2302c;
	border: 1px solid #d2302c;
	transition: 0.3s all ease-in;
}
.paypal {
	margin-right: 18px;
	background: white;
	border: 1px solid #e8e8e8;
}
.credit-card-txt:hover {
	background: #ec625f;
	border-color: #ec625f;
}
.paypal img, .credit-card-txt p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.credit-card-txt p {
	width: 100%;
	font: normal normal 24px/29px Gilroy-Medium;
	color: white;
}
.visa {
	text-align: center;
	margin-bottom: 15.08px;
}
.footer-txt {
	font: normal normal 300 12px/14px Gilroy-Light;
	color: #023047;
	text-align: center;
	max-width: 504px;
	margin: auto;
}
.payment-billing-details {
	display: flex;
	justify-content: space-between;
}
.details-container {
	width: 50%;
	background: #f8f8f8;
	margin-bottom: 28px;
}
.details-container-left {
	margin-right: 12px;
}
.detail-title {
	background: #5baed8;
	color: white;
	padding: 11px 50px 10px;
	border-radius: 5px;
	font: normal normal 18px/21px Gilroy-Medium;
}
.detail-form {
	padding: 24px 50px 20px;
}
.detail-form > div {
	position: relative;
}
.detail-form label span {
	color: #D2302C;
}
.detail-form label {
	color: #023047;
	width: 100%;
	font-weight: 300;
	margin-bottom: 8px;
	font: normal normal 300 14px/16px Gilroy-Light;
}
.detail-form .select_arrow {
	position: absolute;
	transform: matrix(0, -1, 1, 0, 0, 0);
	right: 24.38px;
	bottom: 19px;
	font-size: 16px;	
}
.detail-form input, .detail-form select {
	width: 100%;
	padding-left: 15px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	margin-bottom: 12px;
}
.detail-form .credit-number {
	position: relative;
}
.detail-form .credit-number img { 
	position: absolute;
	width: 65px;
	right: 24.37px;
	bottom: 22px;
}
.detail-form select {
	padding-right: 35px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-appearance: none;
  	-moz-appearance: none;
}
.detail-form input[type='checkbox'] {
	width: 25px;
	height: 25px;
	margin-right: 7px;
	margin-bottom: 0;
}
.checkboxbar {
	display: flex;
	place-items: center;
	margin-bottom: 18px;
}
.checkboxbar label {
	margin-bottom: 0;
}
.detail-form .city-country,
.detail-form .state-postcode {
	display: flex;
	justify-content: space-between;
}
.detail-form .city-country > div,
.detail-form .state-postcode > div {
	width: 100%;
}
.city-input, .state-input {
	margin-right: 16px;
}
.detail-form-footer-txt {
	font: normal normal 300 12px/14px Gilroy-Light;
	color: #c4c4c4;
}
.purchase-button {
	text-align: center;
}
.purchase-button button {
	background: #D2302C 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	color: white;
	width: 380px;
	height: 59px;
	font: normal normal 24px/29px Gilroy-Medium;
	transition: 0.3s all ease-in;
}
.purchase-button button:hover {
	background: #ec625f;
}
.purchase-button button:disabled {
	background: #E8E8E8;
}
 @media screen and (max-width: 768px) {
	.payment-billing-details {
		flex-direction: column;
	}
	.details-container-left {
		margin-right: 0;
	}
	.details-container {
		width: 100%;
	}
	.detail-form {
		padding: 20px 0;
	}
	.purchase-button button {
		width: 350px;
    	height: 50px;
		font-size: 20px;
	}
	.smscard-header-main,
	.smscard-footer-main {
		width: 150px;
	}
	.payment-billing, .credit-amount {
		padding-bottom: 50px;
	}
	.paypal, .credit-card-txt {
		width: 180px;
		height: 50px;
	}
	.credit-card-txt p {
		font-size: 20px;
	}
} 
@media screen and (max-width: 576px) {
	.main-title {
		font-size: 26px;
		line-height: 30px;
	}
	.purchase-button button {
		font-size: 16px;
		width: 260px;
		height: 42px;
	}
	.smscard-section, .smscard-footer {
		padding: 0 10px;
	}
}