section {
	background: white;
}
section .bulk {
	width: 100%;
	margin-bottom: 13px;
	background: url(../img/home_Banner.svg) no-repeat;
	background-size: cover;
	background-position-x: left;
}
section .bulk .container {
	position: relative;
	display: flex;
	justify-content: space-between;
}
section .bulk .container > img {
	position: absolute;
	z-index: 1;
	top: 46.68px;
	right: 553.17px;
}
section .bulk-text {
	padding-top: 188px;
	color: white;
	margin-bottom: 48px;
}
section .bulk-text h1 {
	position: relative;
	font: normal normal 800 72px/88px Gilroy-ExtraBold;
	margin-bottom: 13px;
}
section .bulk-text h1 span {
	position: absolute;
	top: -70px;
	left: 255px;
	font: normal normal bold 196px/196px Segoe-Script-Bold;
	color: #F9D142;
}
section .bulk-text h2 {
	text-transform: uppercase;
	font: normal normal 800 42px/51px Gilroy-ExtraBold;
	margin-bottom: 21px;
}
section .bulk-text h3 {
	font: normal normal 32px/39px Gilroy-Medium;
	margin-bottom: 18px;
}
section .bulk-text p {
	max-width: 435px;
	font: normal normal 300 24px/32px Gilroy-Light;
	margin-bottom: 44px;
}
section .bulk-text button {
	background: #FFFFFF;
	box-shadow: 0px 10px 20px #00000030;
	border-radius: 5px;
	font: normal normal 24px/29px Gilroy-Medium;
	width: 291px;
	height: 57px;
}
section .bulk-text button:hover {
	background: #D2302C;
	color: white;
}
section .bulk-img {
	padding: 50px 0 81px;
	width: 720px;
}
section .bulk-img img {
	width: 100%;
}
section .fontfamilytype {
	margin-bottom: 166px;
}
section .fontfamilytype .font-title .container {
	display: flex;
	align-items: center;
	margin-bottom: 39px;
}
section .fontfamilytype .font-title img {
	margin-right: 12px;
}
section .fontfamilytype .fonttype {
	cursor: pointer;
	height: 40px;
	color: #AAAAAA;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	overflow: hidden;
}
section .fontfamilytype .fonttype:hover {
	overflow-x: scroll;
}
section .fontfamilytype .fonttype p {
	white-space: nowrap;
	padding: 0 30px;
}
section .fontfamilytype .fonttype .qanaya {
	font: normal normal normal 30px/34px Qanaya-Regular;
	letter-spacing: -0.75px;
}
section .fontfamilytype .fonttype .inkfree {
	font: normal normal normal 30px/34px Inkfree;
	letter-spacing: -0.6px;
}
section .fontfamilytype .fonttype .kaushan {
	font: normal normal normal 30px/34px KaushanScript-Regular;
	letter-spacing: -0.6px;
}
section .fontfamilytype .fonttype .gotham {
	font: normal normal 29px/33px GothamRounded-Medium;
	letter-spacing: -0.58px;
}
section .fontfamilytype .fonttype .grinched {
	font: normal normal normal 30px/34px GrinchedRegular;
	letter-spacing: -0.6px;
}
section .fontfamilytype .fonttype .impact {
	font: normal normal normal 30px/34px impact;
	letter-spacing: -0.6px;
}
section .fontfamilytype .font-title p {
	font: normal normal 24px/36px Gilroy-Medium;
	letter-spacing: -0.48px;
	color: #023047;
	margin-bottom: 0;
}
section .valued-services {
	margin-bottom: 214px;
}
section .valued-services h1 {
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 60px;
}
section .valued-services h6 {
	font: normal normal 300 24px/36px Gilroy-Light;
	color: #000000;
	text-align: center;
	margin-bottom: 77px;
}
section .valued-services .service-item-content {
	display: flex;
	justify-content: space-around;
}
section .valued-services .service-item {
	text-align: center;
	max-width: 373px;
	margin-right: 20px;
}
section .valued-services .service-item img {
	margin-bottom: 23px;
	height: 71px;
}
section .valued-services .service-item h2 {
	font: normal normal 28px/34px Gilroy-Medium;
	color: #034464;
	margin-bottom: 32px;
}
section .valued-services .service-item p {
	font: normal normal 300 18px/32px Gilroy-Light;
	color: #000000;
	margin-bottom: 0;
}
section .gateway-content {
	position: relative;
	background: url(../img/Ellipse_background.svg), linear-gradient(white, white);
	background-repeat: no-repeat;
	background-size: auto 1074px, 100% 102px;
	background-blend-mode: color-dodge;
	background-position: calc(100% + 381px) 0, 0 100%;
	margin-bottom: 185px;
}
section .gateway {
	background: url(../img/smartmockups_kobpaz9a.png) no-repeat;
	background-position: calc(100% + 29px) 100%;
	height: 889px;
}
section .gateway h1 {
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	margin-bottom: 60px;
}
section .gateway .container {
	padding-top: 47px;
}
section .gateway .container > div {
	max-width: 760px;
}
section .gateway p {
	font: normal normal 300 24px/36px Gilroy-Light;
	margin-bottom: 60px;
}
section .gateway button {
	background: #D2302C;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	font: normal normal 24px/29px Gilroy-Medium;
	width: 282px;
	height: 57px;
	color: #fff;
}
section .gateway button:hover {
	background: #f65d5a;
}
section .promise {
	padding-bottom: 251px;
	background: url(../img/3messages.svg) no-repeat;
	background-position: -30px calc(100% + 80px);
	margin-bottom: 171px;
}
section .promise .container {
	display: flex;
	justify-content: space-between;
}
section .promise-text {
	max-width: 936px;
	margin-left: 30px;
}
section .promise-text h3 {
	font: normal normal 800 32px/40px Gilroy-ExtraBold;
	color: #D2302C;
	text-transform: capitalize;
	margin-bottom: 14px;
}
section .promise-text h2 {
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	margin-bottom: 60px;
}
section .promise-text p {
	font: normal normal 300 24px/36px Gilroy-Light;
	margin-bottom: 0;
}
section .promise-imgbar {
	text-align: center;
}
section .testimonials {
	padding-bottom: 174px;
	background: url(../img/2messages.svg) no-repeat;
	background-position: calc(100% + 56px) calc(100% + 82px);
}
section .testimonials h3 {
	text-align: center;
	font: normal normal 800 32px/40px Gilroy-ExtraBold;
	color: #D2302C;
	text-transform: capitalize;
	margin-bottom: 14px;
}
section .testimonials h2 {
	text-align: center;
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	margin-bottom: 67px;
}
section .testimonials .star-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 159px;
}
section .testimonials .star-content > div {
	display: flex;
}
section .testimonials .star-content p {
	font: normal normal 24px/29px Gilroy-Medium;
	margin-left: 34px;
	margin-bottom: 0;
}
section .testimonials .star-content p span {
	font-family: Gilroy-ExtraBold;
}
section .testimonials-item-content {
	display: flex;
	justify-content: space-between;
}
section .testimonials-item {
	max-width: 480px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 20px #00000014;
	border-radius: 5px;
	padding: 54px 72px 56px 40px;
	margin-right: 20px;
}
section .testimonials-item .user {
	display: flex;
	align-items: center;
	margin-bottom: 41px;
}
section .testimonials-item .user img {
	width: 93px;
	height: 93px;
	margin-right: 28px;
}
section .testimonials-item .user h5 {
	font: normal normal 24px/29px Gilroy-Medium;
	margin-bottom: 6px;
}
section .testimonials-item .user h6 {
	font: normal normal 300 18px/20px Gilroy-Light;
	margin-bottom: 0;
	text-transform: uppercase;
}
section .testimonials-item p {
	font: normal normal 300 24px/33px Gilroy-Light;
	margin-bottom: 0;
}
@media screen and (max-width: 1550px) {
	section .gateway {
		background-size: 700px auto;
		height: 830px;
	}
	section .gateway .container > div {
		max-width: 685px;
	}
}
@media screen and (max-width: 1400px) {	
	section .bulk .container > img {
		right: 475.17px;
	}
	section .gateway .container > div {
		max-width: 600px;
	}
	section .gateway {
		background-size: 600px auto;
	}
	section .gateway-content {
		background-size: auto 1010px, 100% 102px;
	}
	section .testimonials-item {
		padding: 54px 40px;
	}
	section .testimonials .star-content img {
		width: 35px;
	}
	section .valued-services h6,
	section .gateway p,
	section .promise-text p,
	section .testimonials-item p,
	section .testimonials .star-content p {
		font-size: 18px;
	}
	section .valued-services h1,
	section .gateway h1,
	section .promise-text h2,
	section .testimonials h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 1200px) {
	section .bulk {
		margin-bottom: 25px;
	}
	section .bulk .container > img {
		right: auto;
		top: 615px;
		left: 50px;
	}
	section .bulk-text p {
		max-width: 100%;
	}
	section .bulk-img {
		width: 100%;
		padding: 0;
	}
	section .bulk .container {
		flex-direction: column;
	}
	section .gateway-content {
		background-position: calc(100% + 381px) 450px;
		background-size: auto 1100px, 0 0;
	}
	section .gateway {
		height: auto;
		padding-bottom: 715px;
	}
	section .gateway .container > div {
		max-width: 100%;
	}
	section .fontfamilytype {
		margin-bottom: 100px;
	}
	section .valued-services {
		margin-bottom: 140px;
	}
	section .promise {
		padding-bottom: 180px;
		margin-bottom: 100px;
	}
	section .testimonials h2 {
		margin-bottom: 40px;
	}
	section .testimonials .star-content {
		margin-bottom: 100px;
	}
	section .testimonials-item-content {
		flex-direction: column;
		align-items: center;
	}
	section .testimonials-item {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 992px) {
	section .bulk .container > img {
		right: auto;
		top: 650px;
		left: 0;
	}
	section .promise .container {
		flex-direction: column-reverse;
	}
	section .gateway-content {
		background-position: calc(100% + 200px) 555px;
		background-size: auto 800px, 0 0;
	}
	section .gateway {
		background-size: 500px auto;
		padding-bottom: 563px;
	}
	section .testimonials-item .user {
		margin-bottom: 20px;
	}
	section .promise-text {
		margin-left: 0;
		margin-bottom: 34px;
	}
}
@media screen and (max-width: 768px) {
	section .bulk .container > img {
		width: 130px;
    	top: 510px;
    	left: 10px;
	}
	section .bulk-text {
		text-align: center;
		padding-top: 120px;
	}
	section .bulk-text h1 span {
		font-size: 152px;
		left: calc(50% + 70px);
	}
	section .bulk-text h1 {
		font-size: 56px;
		line-height: 64px;
	}
	section .bulk-text h2 {
		font-size: 32px;
		line-height: 40px;
	}
	section .bulk-text h3 {
		font-size: 24px;
		line-height: 30px;
	}
	section .bulk-text p {
		font-size: 18px;
		line-height: 24px;
	}
	section .bulk-text button,
	section .gateway button {
		width: 250px;
		height: 50px;
		font-size: 20px;
	}
	section .gateway-content {
		background-position: calc(100% + 200px) 500px;
		background-size: auto 730px, 0 0;
	}
	section .gateway {
		background-size: 500px auto;
	}
	section .fontfamilytype .fonttype {
		overflow-x: scroll;
	}
	section .valued-services .service-item-content {
		flex-direction: column;
	}
	section .valued-services .service-item {
		margin-right: 0;
		max-width: 100%;
		margin-bottom: 35px;
	}
	section .valued-services .service-item img {
		margin-bottom: 27px;
	}
	section .valued-services .service-item h2 {
		margin-bottom: 27px;
	}
	section .valued-services {
		margin-bottom: 49px;
	}
	section .testimonials h3,
	section .testimonials h2 {
		text-align: left;
	}
	section .testimonials .star-content {
		flex-direction: column;
		align-items: flex-start;
	}
	section .testimonials .star-content p {
		margin-left: 0;
	}
	section .valued-services h1,
	section .gateway h1,
	section .promise-text h2,
	section .testimonials h2 {
		font-size: 36px;
		line-height: 44px;
	}
	section .promise-text h3,
	section .testimonials h3 {
		font-size: 28px;
		line-height: 34px;
	}
	section .valued-services h6,
	section .gateway p,
	section .promise-text p,
	section .testimonials .star-content p,
	section .testimonials-item p,
	section .valued-services .service-item p {
		font-size: 18px;
		line-height: 26px;
	}
}
@media screen and (max-width: 576px) {
	section .bulk .container > img {
		width: 83.86px;
    	top: 310px;
    	left: calc(27px + 3%);
	}
	section .bulk-text {
		padding-top: 62px;
	}		
	section .bulk-text h1 {
		font-size: 35px;
		line-height: 42px;
		margin-bottom: 7px;
	}
	section .bulk-text h1 span {
		font-size: 97px;
		top: -80px;
    	left: calc(50% + 50px);
	}
	section .bulk-text h2 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 9px;
	}
	section .bulk-text h3 {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 12px;
	}
	section .bulk-text p {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 24px;
	}
	section .bulk-text button {
		width: 218px;
		height: 43px;
		font-size: 16px;
	}
	section .fontfamilytype .font-title img {
		margin-right: 15px;
	}
	section .fontfamilytype .font-title p {
		font-size: 18px;
		letter-spacing: -0.36px;
	}
	section .fontfamilytype .font-title .container {
		margin-bottom: 41px;
	}
	section .fontfamilytype {
		margin-bottom: 87px;
	}
	section .valued-services h1 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 35px;
	}
	section .valued-services h6 {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 35px;
	}
	section .valued-services .service-item h2 {
		font-size: 24px;
		line-height: 29px;
	}
	section .valued-services .service-item p {
		font-size: 14px;
		line-height: 22px;
	}
	section .gateway-content {
		background-size: auto 498px, 0 0;
		background-position: calc(100% + 143px) calc(100% + 73px);
		margin-bottom: 100px;
	}
	section .gateway {
		padding-bottom: 458px;
		background-size: auto 367px;
		background-position: calc(100% + 66px) calc(100% - 39px);
	}
	section .gateway h1 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 33px;
	}
	section .gateway p {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 33px;
	}
	section .gateway button {
		width: 171px;
		height: 39px;
		font-size: 14px;
		line-height: 16px;
	}
	section .promise-text h3 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 8px;
	}
	section .promise-text h2 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 33px;
	}
	section .promise-text p {
		font-size: 14px;
		line-height: 22px;
	}
	section .promise-imgbar img {
		width: 243px;
	}
	section .promise {
		padding-bottom: 80px;
		margin-bottom: 71px;
		background-size: 98px auto;
	}
	section .testimonials h3 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 8px;
	}
	section .testimonials h2 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 32px;
	}
	section .testimonials .star-content img {
		width: 31.3px;
	}
	section .testimonials .star-content > div {
		margin-bottom: 7.6px;
	}
	section .testimonials .star-content p {
		font-size: 14px;
		line-height: 17px;
	}
	section .testimonials .star-content {
		margin-bottom: 89px;
	}
	section .testimonials-item .user h5 {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 5px;
	}
	section .testimonials-item .user h6 {
		font-size: 13px;
		line-height: 15px;
	}
	section .testimonials-item p {
		font-size: 14px;
		line-height: 22px;
	}
	section .testimonials-item .user img {
		margin-right: 21px;
	}
	section .testimonials {
		padding-bottom: 92px;
		background-size: 113px auto;
	}
}
@media screen and (min-width: 768px) {
	section .fontfamilytype .fonttype::-webkit-scrollbar {
  		height: 5px;
	}
	section .fontfamilytype .fonttype::-webkit-scrollbar-track {
  		background: #f1f1f1; 
	}
	section .fontfamilytype .fonttype::-webkit-scrollbar-thumb {
  		background: #888; 
	}
	section .fontfamilytype .fonttype::-webkit-scrollbar-thumb:hover {
  		background: #555; 
	}
}