section .rivet-title {
	background: #fcfcfc;
}
section .rivet-title-bg {
	background: url(../img/Banner_background.svg) no-repeat;
	background-position: right bottom;
}
section .rivet-title .container {
	display: flex;
	justify-content: space-between;
}
section .rivet-title-text {
	padding-top: 169px;
	margin-right: 20px;
}
section .rivet-title-img img {
	width: 100%;
	height: 100%;
}
section .rivet-title-img {
	padding: 29.33px 0 23.14px;
}
section .rivet-title h1 {
	font: normal normal 800 60px/73px Gilroy-ExtraBold;
	color: #D2302C;
	text-transform: capitalize;
	margin-bottom: 13px;
}
section .rivet-title h2 {
	max-width: 620px;
	font: normal normal 800 42px/51px Gilroy-ExtraBold;
	color: #023047;
	text-transform: capitalize;
	margin-bottom: 12px;
}
section .rivet-title p {
	max-width: 630px;
	font: normal normal 24px/29px Gilroy-Medium;
	color: #023047;
	margin-bottom: 29px;
}
section .rivet-title button {
	width: 282px;
	height: 57px;
	background: #D2302C 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	font: normal normal 24px/29px Gilroy-Medium;
	color: #FFFFFF;
}
section .rivet-title button:hover {
	background: #f65d5a;
}
label span {
	color: #D2302C;
}
section .pricing-option {
	padding-top: 160px;
	margin-bottom: 107px;
}
section .pricing-option h1 {
	text-align: center;
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	margin-bottom: 107px;
}
section .pricing-option .pricing-option-item {
	max-width: 424px;
	margin: auto;
}
section .pricing-option .optionimg {
	margin-bottom: 24px;
	text-align: center;
}
section .pricing-option h6 {
	font: normal normal 28px/34px Gilroy-Medium;
	color: #D2302C;	
	text-align: center;
	margin-bottom: 24px;
}
section .pricing-option p {
	text-align: center;
	font: normal normal 300 18px/36px Gilroy-Light;
	margin-bottom: 0;
}
section .buynowbuttonbar {
	text-align: center;
	margin-bottom: 126px;
}
section .buynowbuttonbar p {
	font: normal normal 32px/39px Gilroy-Medium;
	color: #023047;
	margin-bottom: 37px;
}
section .buynowbuttonbar button {
	background: #D2302C;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	color: #FFFFFF;
}
section .buynowbuttonbar .desktop-button {
	width: 164px;
	height: 57px;
	font: normal normal 24px/29px Gilroy-Medium;
}
section .buynowbuttonbar .mobile-button {
	display: none;
	width: 228px;
	height: 41px;
	font: normal normal 16px/19px Gilroy-Medium;
}
section .buynowbuttonbar button:hover {
	background: #f65d5a;
}
section .table-controlbar {
	margin-bottom: 40px;
}
section .table-controlbar .country-select,
section .table-controlbar .sort-select {
	position: relative;
	width: 214px;
	margin-right: 24px;
}
section .table-controlbar .country-select .select-arrow,
section .table-controlbar .sort-select .select-arrow {
	position: absolute;
	transform: matrix(0, -1, 1, 0, 0, 0);
	right: 33px;
	bottom: 18px;
	font-size: 20px;
	width: 12px;
	height: 20px;
}
section .table-controlbar label {
	width: 100%;
	font: normal normal 300 24px/28px Gilroy-Light;
	margin-bottom: 18px;
}
section .table-controlbar select {
	width: 100%;
	padding-left: 19px;
	padding-right: 40px;
	outline: none;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px #00000014;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	font: normal normal 300 18px/20px Gilroy-Light;
	height: 57px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-appearance: none;
  	-moz-appearance: none;
}
section .table-controlbar .searchbar {
	flex-grow: 1;
	position: relative;
}
section .table-controlbar .searchbar img {
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}
section .table-controlbar .searchbar input {
	width: 100%;
	padding: 0 0 0 19px;
	line-height: 55px;
	background: #F8F8F8;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
}
section .table-controlbar .downloadbar {
	display: flex;
}
section .table-controlbar .pdfdownload,
section .table-controlbar .xlsdownload {
	height: 47px;
	margin-left: 24px;
	text-align: center;
}
section .table-controlbar .pdfdownload a,
section .table-controlbar .xlsdownload a {
	font: normal normal 300 18px/32px Gilroy-Light;
}
section .table-controlbar .pdfdownload a {
	color: #F15642;
}
section .table-controlbar .xlsdownload a {
	color: #84BD5A;
}
section .table-main {
	margin-bottom: 100px;
}
section .table-main .container {
	background: white;
	box-shadow: 0px 0px 20px #00000014;
	border-radius: 5px;
	padding-bottom: 50px;
}
section .table-main table {
	width: 100%;
	margin-bottom: 72px;
}
section .table-main table thead tr {
	border-bottom: 1px solid #d5d5d5;
}
section .table-main table thead tr th {
	position: relative;
	font: normal normal 20px/24px Gilroy-Medium;
	padding: 33px 0 23px;
}
section .table-main table thead tr th select {
	margin-left: 12px;
	padding-left: 14px;
	width: 82px;
	height: 38px;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	font: normal normal 300 14px/16px Gilroy-Light;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-appearance: none;
  	-moz-appearance: none;
}
section .table-main table thead tr th .arrow-down {
	position: absolute;
	transform: matrix(0, -1, 1, 0, 0, 0);
	left: 115px;
	bottom: 32px;
	font-size: 14px;
	width: 8px;
	height: 14px;
}
section .table-main table tbody tr td {
	font: normal normal 300 20px/23px Gilroy-Light;
	padding: 21px 0 22px;
}
section .table-main table tbody tr:nth-child(1) td {
	padding-top: 44px;
}
section .table-main table thead tr th:nth-child(1),
section .table-main table tbody tr td:nth-child(1) {
	padding-left: 81px;
	width: 714px;
	padding-right: 15px;
}
section .table-main table thead tr th:nth-child(2),
section .table-main table tbody tr td:nth-child(2) {
	width: 508px;
	padding-right: 15px;

}
section .table-main table thead tr th:nth-child(3),
section .table-main table tbody tr td:nth-child(3) {
	padding-right: 16px;
}
section .table-main .table-page {
	font: normal normal 300 18px/24px Gilroy-Light;
	letter-spacing: 1.1px;
}
section .table-main .table-page .prevbutton,
section .table-main .table-page .nextbutton {
	text-decoration: underline;
	margin-right: 71px;
	font: normal normal 300 18px/20px Gilroy-Light;
	letter-spacing: 1.1px;
	padding: 0;
	background: transparent;
}
section .table-main .table-page .prevbutton {
	display: none;
	margin-right: 0;
	margin-left: 38px;
}
section .table-main .table-page .prevbutton:hover,
section .table-main .table-page .nextbutton:hover {
	color: #d2302d;
}
section .table-main .table-page p {
	margin-bottom: 0;
}
section .table-main .table-page ul {
	padding-left: 0;
	margin: 0 48px;
	width: 144px;
}
section .table-main .table-page ul li {
	font: normal normal 300 18px/20px Gilroy-Light;
	letter-spacing: 1.1px
}
section .table-main .table-page ul li:hover {
	color: #d2302d;
}
section .require-form {
	margin-bottom: 108px;
}
section .require-form h1 {
	text-align: center;
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	margin-bottom: 60px;
}
section .require-form h5 {
	text-align: center;
	font: normal normal 300 24px/36px Gilroy-Light;
	margin-bottom: 76px;
}
section .require-form input,
section .require-form textarea {
	width: 100%;
	padding: 0 0 0 14px;
	background: #F8F8F8;
	border: 1px solid #E8E8E8;
	font: normal normal 300 18px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
section .require-form textarea {
	height: 126px;
}
section .require-form input::placeholder,
section .require-form textarea::placeholder {
	font: normal normal 300 18px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);
}
section .require-form label {
	font: normal normal 300 18px/20px Gilroy-Light;
	margin-bottom: 10px;
}
section .require-form .input-item > div {
	width: 352px;
	margin-right: 24px;
	margin-bottom: 32px;
}
section .require-form .textarea-form {
	width: 1104px;
	margin: auto;
}
section .require-form .submitbutton {
	text-align: center;
	margin-top: 60px;
}
section .require-form .submitbutton button {
	width: 238px;
	height: 47px;
	background: #D2302C;
	border-radius: 5px;
	font: normal normal 18px/21px Gilroy-Medium;
	letter-spacing: 0.9px;
	color: #FFFFFF;
}
section .require-form .submitbutton button:hover {
	background: #f65d5a;
}
@media screen and (max-width: 1550px) {
	section .rivet-title-text {
		padding-top: 140px;
 	}
}
@media (max-width: 1400px) {
	section .rivet-title h1 {
		font-size: 48px;
	}	
	section .rivet-title h2 {
		font-size: 32px;
		line-height: 36px;
	}
	section .rivet-title p {
		font-size: 20px;
		line-height: 22px;
	}
	section .rivet-title button {
		width: 250px;
    	height: 50px;
		font-size: 20px;
	}
	section .rivet-title-text {
		padding-top: 120px;
 	}
}
@media (max-width:1200px) {
	section .rivet-title-text {
		padding-top: 60px;
 	}
	section .callbackbar .container {
		flex-direction: column;
	}
	section .callbackbar p {
		max-width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	section .callbackbar .request-form {
		flex-direction: column;
	}
	section .callbackbar .inputbar {
		margin-right: 0;
		margin-bottom: 20px;
	}
	section .callbackbar button {
		margin-top: 20px;
	}
	section .callbackbar h4 {
		text-align: center;
	}
	section .require-form .textarea-form {
		width: 100%;
	}
	section .bottom .about,
	section .bottom .contact-info,
	section .bottom .form-call-back {
		width: 33%;
	}
	section .table-main table thead tr th:nth-child(1),
	section .table-main table tbody tr td:nth-child(1) {
		padding-left: 19px;
	}
}
@media (max-width:992px) {
	section .pricing-option {
		padding-top: 100px;
	}
	section .rivet-title .container {
		flex-direction: column;
		text-align: center;
	}
	section .rivet-title-text {
		margin-right: 0;
	}
	section .rivet-title h2,
	section .rivet-title p {
		max-width: 100%;
	}
	section .rivet-title-img {
		padding: 79.89px 0 0;
	}
	section .rivet-title-bg {
		padding-bottom: 67.33px;
	}
	section .table-controlbar .container {
		flex-direction: column;
		align-items: center!important;
	}
	section .table-controlbar .container > div {
		width: 100%;
		margin-bottom: 30px;
	}
	section .table-controlbar .container .downloadbar {
		margin-bottom: 0 !important;
	}
	section .table-controlbar .country-select,
	section .table-controlbar .sort-select {
		margin-right: 0;
	}
	section .table-controlbar .pdfdownload {
		margin-left: 0;
	}
	section .table-controlbar .xlsdownload {
		margin-left: 22.6px;
	}
	section .table-controlbar {
		margin-bottom: 23.45px;
	}
}
@media (max-width:768px) {
	section .pricing-option {
		padding-top: 62px;
		margin-bottom: 50px;
	}
	section .pricing-option .container > div {
		flex-direction: column;
	}
	section .pricing-option .pricing-option-item {
		margin-bottom: 20px;
	}
	section .pricing-option h1 {
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 80px;
	}
	section .buynowbuttonbar p {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 28px;
	}
	section .require-form h1 {
		font-size: 32px;	
		line-height: 36px;
		margin-bottom: 40px;
	}
	section .require-form h5 {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 50px;
	}
	section .require-form .input-item {
		flex-direction: column;
	}
	section .require-form .input-item > div {
		width: 100%;
	}
	section .bottom .bottom-main {
		flex-direction: column;
	}
	section .bottom .bottom-main > div {
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
	}
	section .table-main .table-page .prevbutton, 
	section .table-main .table-page .nextbutton {
		margin: 0 10px;
	}
	.prevbutton {
		display: block !important;
		visibility: hidden;
	}
	section .table-main .table-page ul {
		margin: 0 10px;
	}
	section .table-main .table-page p {
		margin-right: 10px;
	}
	section .buynowbuttonbar .desktop-button {
		display: none;
	}
	section .buynowbuttonbar .mobile-button {
		display: initial;
	}
	section .buynowbuttonbar {
		margin-bottom: 62px;
	}
	section .table-controlbar label {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 7px;
	}
	section .table-controlbar select {
		font-size: 14px;
	}
	section .table-controlbar .country-select {
		margin-bottom: 15px !important;
	}
	section .table-controlbar .sort-select,
	section .table-controlbar .searchbar {
		margin-bottom: 24px !important;
	}
	section .table-controlbar .pdfdownload a, 
	section .table-controlbar .xlsdownload a {
		font-size: 14px;
	}
	section .table-main {
		margin-bottom: 45px;
	}
	section .pricing-option p {
		line-height: 26px;
	}
	section .table-main table thead tr th,
	section .table-main table tbody tr td {
		font-size: 18px;
		line-height: 20px;
	}
}
@media (max-width:576px) {
	section .rivet-title h1 {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 8px;
	}
	section .rivet-title h2 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 18px;
	}
	section .rivet-title p {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 32px;
	}
	section .rivet-title button {
		width: 228px;
		height: 41px;
		font-size: 16px;
	}
	section .require-form h1 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 18px;
		text-align: left;
	}
	section .require-form h5 {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 28px;
		text-align: left;
	}
	section .pricing-option h1 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 62px;	
	}
	section .pricing-option .optionimg {
		margin-bottom: 28px;
	}
	section .pricing-option h6 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 25px;
	}
	section .pricing-option p {
		font-size: 14px;
		line-height: 22px;
	}
	section .pricing-option .pricing-option-item {
		margin-bottom: 50px;
	}
	section .pricing-option {
		margin-bottom: 0;
	}
	section .table-main table {
		margin-bottom: 46.5px;
	}
	section .table-main table thead tr th {
		padding: 27px 0 18.5px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 600;
	}
	section .table-main table tbody tr td {
		font-size: 14px;
		line-height: 16px;
		padding: 30px 0;
	}
	section .table-main table tbody tr:nth-child(1) td {
		padding-top: 10px;
	}
	section .table-main table thead tr {
		border: none;
	}
	section .table-main table thead tr th select {
		width: 47px;
		height: 23px;
		font-size: 10px;
		padding-left: 6px;
	}
	section .table-main table thead tr th .arrow-down {
		left: 75px;
		bottom: 24px;
		font-size: 10px;	
 	}
	section .require-form label {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 11px;
	}
	section .require-form input::placeholder,
	section .require-form textarea::placeholder,
	section .require-form input, 
	section .require-form textarea {
		font-size: 14px;
	}
	section .require-form .input-item > div {
		margin-bottom: 13px;
	}
	section .require-form .submitbutton {
		margin-top: 32px;
	}
	section .require-form {
		margin-bottom: 33px;
	}
	section .require-form .submitbutton button {
		width: 176px;
		height: 41px;
		letter-spacing: 0.8px;
		font-size: 16px;
	}
	section .require-form .submitbutton {
		text-align: left;
	}
	section .table-main .table-page p {
		font-size: 14px;
		line-height: 16px;
	}
	section .table-main .table-page .prevbutton, 
	section .table-main .table-page .nextbutton,
	section .table-main .table-page ul li {
		letter-spacing: 0.85px;
		font-size: 14px;
	}
	section .table-main .table-page ul {
		width: 100px;
		margin: 0;
		/*margin: 0 32px;*/
	}
	section .table-main .container {
		padding-bottom: 40px;
	}
}