@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
	font-family: "Gilroy-Light";
	src: url("../fonts/Gilroy-Light.otf");
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
	font-family: "Segoe-Print-Bold";
	src: url("../fonts/Segoe-Print-Bold_39951.ttf");
}
* {
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
button {
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.3s all ease-in;
}
a {
	transition: 0.2s all ease-in;
}
input {
	outline: none;
}
@media screen and (min-width: 1550px) {
	.container {
		max-width: 1500px;
		padding: 0;
	}
}
header {
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #023047;
	font-size: 18px;
	line-height: 20px;
	font-family: Gilroy-Light;
	font-weight: 300;
	color: white;
}
header .mail-address {
	padding: 19px 0;
	margin-right: 41px;
}
header .phone-number {
	flex-grow: 1;
}
header .mail-address img,
header .phone-number img {
	vertical-align: middle;
	margin-right: 12px;
}
header ul {
	margin-bottom: 0;
}
header ul li {
	margin-right: 32px;
}
header ul li i,
footer ul li i {
	font-size: 25px !important;
}
nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	margin-top: 62px;
	background: white;
}
nav .container {
	position: relative;
	min-height: 102px;
}
nav img {
	width: 188px;
	height: 36px;
}
nav .navbar-toggle {
	display: none;
    position: absolute;
    top: 32px;
    right: 155px;
	background: white;
    border: 1px solid #989898;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    color: #989898;
}
nav ul {
	display: flex;
	margin-bottom: 0;
}
nav ul li {
	font-size: 18px;
	line-height: 21px;
	margin-right: 48px;
	font-family: Gilroy-Medium;
}
nav ul li a {
	color: black;
	text-decoration: none;
}
nav ul li a:hover {
	color: #D2302C;
}
nav .login-button {
	background: #FFFFFF;
	padding: 12px 45px;
	border: 1px solid #989898;
	border-radius: 5px;
	margin-right: 0;
	font: normal normal 18px/21px Gilroy-Medium;
}
nav .login-button:hover {
	color: white;
	background: #989898;
}
section {
	padding-top: 164px;
}
section .test-drive {
	background: #FCFCFC;
}
section .test-drive-content {
	padding-top: 169px;
	background: url(../img/sectionbg.png) no-repeat;
	background-position: right;	
	background-size: auto 100%;
}
section .test-drive-text {
	max-width: 665px;
}
section .test-drive h1 {
	font: normal normal 800 60px/73px Gilroy-ExtraBold;
	color: #D2302C;
	text-transform: capitalize;
	margin-bottom: 13px;
}
section .test-drive h2 {
	font: normal normal 800 42px/51px Gilroy-ExtraBold;
	color: #023047;
	text-transform: capitalize;
	margin-bottom: 12px;
}
section .test-drive p {
	font: normal normal 24px/29px Gilroy-Medium;
	color: #023047;
	margin-bottom: 29px;
}
section .test-drive button {
	font: normal normal 24px/29px Gilroy-Medium;
	background: #D2302C;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	color: white;
	padding: 14px 34px;
	margin-bottom: 155px;
}
section .test-drive button:hover {
	background: #f65d5a;
}
section .callbackbar {
	background: #023047;
	padding: 42px 0;
}
section .callbackbar h4 {
	font: normal normal 800 32px/40px Gilroy-ExtraBold;
	color: #FFFFFF;
	margin-bottom: 13px;
}
section .callbackbar p {
	max-width: 300px;
	font: normal normal 300 18px/20px Gilroy-Light;
	color: #FFFFFF;
	margin-bottom: 0;
}
section .callbackbar label {
	width: 100%;
	font: normal normal 300 18px/20px Gilroy-Light;
	color: white;
	margin-bottom: 10px;
}
label span {
	color: #D2302C;
}
section .callbackbar input {
	width: 100%;	
	background: #FFFFFF;
	border-radius: 5px;
	font: normal normal 300 18px/45px Gilroy-Light;
	color: rgb(0, 0, 0, 0.5);
	padding: 0 0 0 14px;
	border: 1px solid white;
}
section .callbackbar input::placeholder {
	font: normal normal 300 18px/20px Gilroy-Light;
	color: rgb(0, 0, 0, 0.5);
}
section .callbackbar .inputbar {
	max-width: 238px;
	margin-right: 18px;
}
section .callbackbar button {
	font: normal normal 18px/21px Gilroy-Medium;
	letter-spacing: 0.9px;
	color: #FFFFFF;
	padding: 13px 0;
	width: 238px;
	border-radius: 5px;
	background: #d2302d;
}
section .callbackbar button:hover {
	background: #f65d5a;
}
section .pricing-option {
	padding-top: 160px;
}
section .pricing-option h1 {
	text-align: center;
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	text-transform: uppercase;
	margin-bottom: 107px;
}
section .pricing-option .pricing-option-item {
	max-width: 424px;
	margin: auto;
}
section .pricing-option .optionimg {
	margin-bottom: 24px;
	text-align: center;
}
section .pricing-option h6 {
	font: normal normal 28px/34px Gilroy-Medium;
	color: #D2302C;	
	text-align: center;
	margin-bottom: 24px;
}
section .pricing-option p {
	text-align: center;
	font: normal normal 300 18px/36px Gilroy-Light;
	margin-bottom: 0;
}
section .buynowbuttonbar {
	text-align: center;
	margin: 107px 0 126px;
}
section .buynowbuttonbar p {
	font: normal normal 32px/39px Gilroy-Medium;
	color: #023047;
	margin-bottom: 37px;
}
section .buynowbuttonbar button {
	background: #D2302C;
	padding: 14px 34px;
	box-shadow: 0px 10px 20px #00000014;
	border-radius: 5px;
	font: normal normal 24px/29px Gilroy-Medium;
	color: #FFFFFF;
}
section .buynowbuttonbar button:hover {
	background: #f65d5a;
}
section .table-controlbar {
	margin-bottom: 40px;
}
section .table-controlbar .selectbar {
	width: 214px;
	margin-right: 24px;
}
section .table-controlbar label {
	width: 100%;
	font: normal normal 300 24px/28px Gilroy-Light;
	margin-bottom: 18px;
}
section .table-controlbar select {
	width: 100%;
	padding-left: 19px;
	outline: none;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px #00000014;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	font: normal normal 300 18px/20px Gilroy-Light;
	height: 57px;
}
section .table-controlbar .searchbar {
	flex-grow: 1;
	position: relative;
}
section .table-controlbar .searchbar img {
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}
section .table-controlbar .searchbar input {
	width: 100%;
	padding: 0 0 0 19px;
	line-height: 55px;
	background: #F8F8F8;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
}
section .table-controlbar .pdfdownload,
section .table-controlbar .xlsdownload {
	height: 47px;
	margin-left: 24px;
	text-align: center;
}
section .table-controlbar .pdfdownload a,
section .table-controlbar .xlsdownload a {
	font: normal normal 300 18px/32px Gilroy-Light;
}
section .table-controlbar .pdfdownload a {
	color: #F15642;
}
section .table-controlbar .xlsdownload a {
	color: #84BD5A;
}
section .table-main {
	margin-bottom: 100px;
}
section .table-main .container {
	background: white;
	box-shadow: 0px 0px 20px #00000014;
	border-radius: 5px;
	padding-bottom: 50px;
}
section .table-main table {
	margin-bottom: 72px;
}
section .table-main table thead tr {
	border-bottom: 1px solid #b8b8b8;
}
section .table-main table thead tr th {
	font: normal normal 20px/24px Gilroy-Medium;
	padding: 33px 0 20px;
}
section .table-main table tbody tr {
	
	border-bottom: 1px solid #e8e8e8;
}
section .table-main table tbody tr td {
	font: normal normal 300 20px/23px Gilroy-Light;
	padding: 21px 0 22px;
}
section .table-main table thead tr th:nth-child(1),
section .table-main table tbody tr td:nth-child(1) {
	padding-left: 81px;
	width: 714px;
}
section .table-main table thead tr th:nth-child(2),
section .table-main table tbody tr td:nth-child(2) {
	width: 508px;
}
section .table-main .table-page {
	font: normal normal 300 18px/24px Gilroy-Light;
	letter-spacing: 1.1px;
}
section .table-main .table-page .nextbutton {
	text-decoration: underline;
	margin-right: 71px;
}
section .table-main .table-page p {
	margin-bottom: 0;
}
section .table-main .table-page ul {
	padding: 0 38px;
}
section .table-main .table-page ul li {
	padding: 0 10px;
}
section .require-form {
	margin-bottom: 108px;
}
section .require-form h1 {
	text-align: center;
	font: normal normal 800 48px/59px Gilroy-ExtraBold;
	color: #023047;
	margin-bottom: 60px;
}
section .require-form h5 {
	text-align: center;
	font: normal normal 300 24px/36px Gilroy-Light;
	margin-bottom: 76px;
}
section .require-form input,
section .require-form textarea {
	width: 100%;
	padding: 0 0 0 14px;
	background: #F8F8F8;
	border: 1px solid #E8E8E8;
	font: normal normal 300 18px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
section .require-form textarea {
	height: 126px;
}
section .require-form input::placeholder,
section .require-form textarea::placeholder {
	font: normal normal 300 18px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);
}
section .require-form label {
	font: normal normal 300 18px/20px Gilroy-Light;
	margin-bottom: 10px;
}
section .require-form .input-item > div {
	width: 352px;
	margin-right: 24px;
	margin-bottom: 32px;
}
section .require-form .textarea-form {
	width: 1104px;
	margin: auto;
}
section .require-form .submitbutton {
	text-align: center;
	margin-top: 60px;
}
section .require-form .submitbutton button {
	background: #D2302C;
	padding: 13px 88px;
	border-radius: 5px;
	font: normal normal 18px/21px Gilroy-Medium;
	letter-spacing: 0.9px;
	color: #FFFFFF;
}
section .require-form .submitbutton button:hover {
	background: #f65d5a;
}
section .bottom {
	background: #F8F8F8;
	padding: 117px 0 145px;
}
section .bottom .logo-bottom {
	margin-bottom: 95px;
}
section .bottom h5 {
	font: normal normal 800 24px/32px Gilroy-ExtraBold;
	color: #023047;
	margin-bottom: 30px;
}
section .bottom h4 {
	font: normal normal 300 18px/32px Gilroy-Light;
	margin-bottom: 60px;
}
section .bottom h6 {
	font: normal normal 20px/32px Gilroy-medium;
}
section .bottom p {
	font: normal normal 300 20px/32px Gilroy-Light;
}
section .bottom .about {
	max-width: 433px;
	margin-right: 20px;
}
section .bottom .contact-info {
	max-width: 384px;
	margin-right: 20px;
}
section .bottom .form-call-back {
	max-width: 445px;
}
section .bottom label {
	width: 100%;
	font: normal normal 300 18px/20px Gilroy-Light;
	margin-bottom: 10px;
}
section .bottom input {
	width: 100%;
	padding: 0 0 0 14px;
	margin-bottom: 18px;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	font: normal normal 300 14px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);
}
section .bottom input::placeholder {
	font: normal normal 300 14px/45px Gilroy-Light;
	color: rgba(0, 0, 0, 0.5);	
}
section .bottom .email-bottom {
	margin-right: 18px;
}
section .bottom button {
	font: normal normal 18px/21px Gilroy-Medium;
	letter-spacing: 0.9px;
	padding: 13px 57px;
	background: #D2302C;
	border-radius: 5px;
	color: white;
	margin-top: 14px;
}
section .bottom button:hover {
	background: #f65d5a;
}
footer {
	padding: 24px 0;
}
footer ul {
	margin-bottom: 0;
	padding-left: 0;
	margin-right: 23px;
}
footer ul li {
	margin-right: 32px;
}
footer p {
	margin-bottom: 0;
	font: normal normal 300 20px/32px Gilroy-Light;
	color: #023047;
}
footer a {
	font: normal normal 300 20px/32px Gilroy-Light;
	color: #023047;
}
@media (max-width: 1400px) {
	section .test-drive-content {
		background: transparent;
	}
}
@media (max-width:1200px) {
	section .callbackbar .container {
		flex-direction: column;
	}
	section .callbackbar p {
		max-width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	section .callbackbar .request-form {
		flex-direction: column;
	}
	section .callbackbar .inputbar {
		margin-right: 0;
		margin-bottom: 20px;
	}
	section .callbackbar button {
		margin-top: 20px;
	}
	section .callbackbar h4 {
		text-align: center;
	}
	section .require-form .textarea-form {
		width: 100%;
	}
	section .bottom .about,
	section .bottom .contact-info,
	section .bottom .form-call-back {
		width: 33%;
	}
	footer .container {
		flex-direction: column;
	}
	footer .container .fotter-iconbar {
		margin-bottom: 20px;
	}
	nav .login-button, nav img {
		position: absolute;
		right: 0;
		top: 30px;
	}
	nav img {
		left: 0;
	}
	nav .navbar-toggle {
		display: block;
	}
	nav .container {
		display: block !important;
	}
	nav ul {
		display: block;
		display: none;
		margin-top: 90px;
		transition: 1s all ease-in;
	}
	nav ul li {
		padding: 10px 0;
	}
	section .table-main table thead tr th:nth-child(1),
	section .table-main table tbody tr td:nth-child(1) {
		padding-left: 0;
	}
}
@media (max-width:992px) {
	section .table-controlbar .container {
		flex-direction: column;
		align-items: center!important;
	}
	section .table-controlbar .container > div {
		width: 100%;
		margin-bottom: 30px;
	}
	section .table-controlbar .selectbar {
		margin-right: 0;
	}
	header .mail-address span, 
	header .phone-number span {
		display: none;
	}
	header .mail-address {
		margin-right: 15px;
	}
	header ul {
		padding-left: 10px;
	}
}
@media (max-width:768px) {
	section .pricing-option .container > div {
		flex-direction: column;
	}
	section .pricing-option .pricing-option-item {
		margin-bottom: 20px;
	}
	section .pricing-option h1 {
		font-size: 38px;
	}
	section .buynowbuttonbar p {
		font-size: 22px;
	}
	section .require-form .input-item {
		flex-direction: column;
	}
	section .require-form .input-item > div {
		width: 100%;
	}
	section .bottom .bottom-main {
		flex-direction: column;
	}
	section .bottom .bottom-main > div {
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
	}
	footer .container .fotter-iconbar {
		flex-direction: column;
	}
	footer ul {
		margin-bottom: 20px;
	} 
	footer p {
		text-align: center;
	}
}
@media (max-width:576px) {
	section .require-form h1 {
		font-size: 38px;
	}
}

